<div class="container">
  <div class="welcomebox col-md-offset-2 col-md-8" style="margin-top:150px;">
     <h1>Oops!</h1><br>
     <h3>Sorry, that was actually a fake link</h3><br>
     <h5>I had to put something in the footer so that the design looked a little better, but actually I don't have anything to say in a blog, or an About page. And since this isn't an actual real life website, there aren't any Twitter or Facebook links.</h5><br>
    <h5>Sorry.</h5>
     
  </div>
</div>