

<div class="col-md-offset-4 col-md-4 loginform">
  <%= bootstrap_form_for(:session, url: login_path) do |f| %>
    <%= f.email_field :email %><br>
    <%= f.password_field :password %><br>
    <%= f.submit "Log In" %>
  <% end %>
</div>


  