<p id="notice"><%= notice %></p>
<div class="container fullpage">
  <div class="jumbotron">
  <h1>What's for lunch today?</h1>
  <p>Choose a retailer below to see their menu</p>
</div>

  
  
  
  <div class="row retailer-row">
    <% @retailers.each do |retailer| %>
      <div class="col-sm-4" id="retailer">
         
        <p> <%= link_to image_tag(retailer.asset.url(:medium)), retailer_items_path(retailer) %></p>
           
      </div>
    <% end %>  
 </div>

  

</div>