<p id="notice"><%= notice %></p>
<div class="container fullpage">
  <div class="jumbotron">
  <h1>What's for lunch today?</h1>
  <p>Choose a retailer below to see their menu</p>
</div>

  
<div class="container">
  <% @retailers.in_groups_of(4, false).each do |group| %>
    <div class="row retailer-row">
      <% group.each do |retailer| %>
        <div class="col-md-3 retailer-image">
          <%= link_to image_tag(retailer.asset.url(:medium)), retailer_items_path(retailer) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
  

</div>