<p id="notice"><%= notice %></p>
<div class="container fullpage">
  <div class="jumbotron">
  <h1>What's for lunch?</h1>
  <p>Choose a retailer below to see their menu for today</p>
  
</div>

  
  
  <div class="row retailer-row">
   
      <% @retailers.each do |retailer| %>
   
      <div class="col-sm-4" id="retailer">
        
        <h3><%= retailer.name%></h3>
        <p><%= link_to "Menu", retailer_items_path(retailer) %>
      
      
    
    </div>
    <% end %>
  
 </div>




<%= link_to 'New Retailer', new_retailer_path %>
</div>