<div class="col-md-offset-4 col-md-4">
<h1>New Retailer</h1><br>
</div>

<%= render 'form' %>

<div class="col-md-2" style="float:right;">
  <button class="btn"><%= link_to 'Back', retailers_path %></button>
</div>
