<div class="col-md-offset-4 col-md-4">
<h1 style="">Sign up below</h1><br>
</div>

<%= render 'form' %>

<div class="col-md-2" style="float:right;">
  <%= link_to 'Back', root_path, class:"btn btn-default" %>
</div>
