


<div class="container">
  <div class="welcomebox col-md-offset-2 col-md-8" style="margin-top:200px;">
    
		<h3>Sorry, we can't find a retailer with that name</h3><br>
         <h5>Please try a different search</h5><br>
    <p><%= params[:search]%></p>
            <div class="form-group col-md-offset-4 col-md-4" >
               <%= form_tag(retailers_path, :method => "get") do %>
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Retailers" %><br>
               <button class="btn btn-default", type="submit">Submit</button>
               <% end %>
            </div>
  
    
    
  </div>
</div>