<div class="col-md-offset-4 col-md-4" style="text-align:center;"><h1>Add a New Item</h1></div>

<%= render 'form' %>

<div class="col-md-2" style="float:right";>
  <%= link_to 'Back', retailer_items_path, class:"btn btn-default" %>
</div>
