@import "bootstrap-sprockets";
@import "bootstrap";

#retailer {
  background-color: #E2F5FB;
  border: 1px solid #4747D1;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  
}