@import "bootstrap-sprockets";
@import "bootstrap";

/* FONTS */

 @font-face {
  font-family: 'chalkdust';
  src:font-url('chalkdust.eot');
  src:font-url('chalkdust.eot?#iefix') format('embedded-opentype'),
    font-url('chalkdust.svg#chalkdust') format('svg'),
    font-url('chalkdust.woff') format('woff'),
    font-url('chalkdust.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg';
  src:font-url('kg.eot');
  src:font-url('kg.eot?#iefix') format('embedded-opentype'),
    font-url('kg.svg#kg') format('svg'),
    font-url('kg.woff') format('woff'),
    font-url('kg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* NAVIGATION */

.navbar {
  background-color: #FF8533;
  
  .header {
    color: #4D4D55;
  }
}

/* HEADER */
.page-header {
  text-align: center;
  padding-top: -100px;
  font-family: 'kg';
  color: white;
  
}

/* JUMBOTRON */

.jumbotron {
    margin-bottom: 80px;
    background-image: url('Sandwich.jpg');
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
   
}

/* TABLE */
table {
  font-family: 'kg';
  color: white;
  td {
    font-family: 'kg';
    font-size: 20px;
    color: white;
  }
}

.items-header {
  font-family: 'kg';
  color: white;
}

/* RETAILER INDEX PAGE */
.retailer-row {
  margin: 20px;
  display: inline;
}



.retailer-image {
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  max-width: 100%;
}



.col-sm-4 {
   margin-left:15px;
   margin-bottom: 10px;
   margin-top: 10px;
   width :31.6%;
   
}

/* ITEMS INDEX PAGE */
.retailer-details {
  float: right;
  text-align: center;
  font-family: 'kg';
  color: white;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}



body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url('chalkboard-black.jpg') !important;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FF8533;
  padding: auto;
}