@import "bootstrap-sprockets";
@import "bootstrap";

/* FONTS */

/* NAVIGATION */

.navbar {
  background-color: #FF8533;
  margin-bottom: -20px;
  
  .header {
    color: #4D4D55;
  }
}

/* HEADER */
.page-header {
  text-align: center;
  padding-top: -15px;
  
  
}

/* JUMBOTRON */

.jumbotron {
    margin-bottom: -40px;
    background-image: url('lunch 4.png');
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #B8B7B7 ;
  text-align: center;
    
   
}

/* TABLE */




/* RETAILER INDEX PAGE */

table > tbody, tr {
  line-height: 60px;
}

.retailer-row {
  margin: 40px;
  padding: 20px;
  display: inline;
  
}



.retailer-image {
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  max-width: 100%;
  min-height: 40px;
}



.col-sm-4 {
   margin-left:15px;
   margin-bottom: 10px;
   margin-top: 10px;
   width :31.6%;
   
}

/* ITEMS INDEX PAGE */
.retailer-details {
  float: right;
  text-align: center;
  
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
}



body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FF8533;
  padding: auto;
  margin-top: 40px;
}