<h1>All categories</h1>

<div class="col-md-offset-4 col-md-4">
  <table class="table">
    <thead>
      <tr>
        <td>Category</td>
        <td>Order</td>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <% @categories.each do |category| %>
        <td><%= category.category %></td>
        <td><%= category.order_number %></td>
        <td><%= link_to "Edit", edit_category_path(category) %>
      </tr>
        <% end %>
     
     </tbody>
  </table>
</div>

<button><%= link_to "Add a new category", new_category_path %></button>